<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="contact/" method="get">
        <table>
            <tr>
                <td>First Number</td>
                <td><input type="text" name="num1" placeholder="Enter a number"></td>
                <td>Second Number</td>
                <td><input type="text" name="num2" placeholder="Enter a number"></td>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>